---
layout: default
---

<div id="post" class="container">
<!-- <script src="https://gist.github.com/sebasguts/2962e9265a1786f452bb753588b9e5d8.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/gheembedder.min.js" type="text/javascript"></script>

<div 
data-ghuserrepo="{{ page.repository}}"
data-ghpath="{{ page.filename }}.ipynb"></div>

<script> ghembedder.autoload(); </script>

<!--	<!--<div class="postthumb"><img src="/thumbnails/{{ page.thumbnail }}" /></div>

	<h1>{{ page.title }}</h1>

	<div class="meta clearfix">
		<strong>Author:</strong> {{ page.author }}

		{% if page.license %}
			<br /><strong>License:</strong> {{ page.license }}
		{% endif %}

		<br /><br />
		{% if page.homepage %}
			<a class="btn" href="{{ page.homepage }}"><i class="icon-home"></i> Homepage</a>
		{% endif %}
		{% if page.download %}
			<a class="btn" href="{{ page.download }}"><i class="icon-download-alt"></i> Download</a>
		{% endif %}
		{% if page.demo %}
			<a class="btn" href="{{ page.demo }}"><i class="icon-road"></i> Demo</a>
		{% endif %}
		{% if page.license_link %}
			<a class="btn" href="{{ page.license_link }}"><i class="icon-file"></i> License</a>
		{% endif %}
	</div>


	<div class="post-content">
	{{ content }}
	</div>-->

</div>
